// Typography

@use '../abstracts' as a;

$colors: (
  'red': a.$red-100,
  'green': a.$green-100,
  'yellow': a.$yellow-100,
  'blue': a.$blue-100,
);

@each $name, $color in $colors {
  .underline-#{$name} {
    @include a.underline($color);
  }
}

.section-title {
  font-family: a.$font-primary;
  font-size: a.rem(42);
  text-transform: uppercase;
  text-align: center;
}
.section-subtitle {
  font-size: a.rem(20);
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: lighten(a.$dark-100, 30%);
  margin-bottom: a.rem(96);
}
