// Variables

// Typography
$font-primary: 'Figtree', sans-serif;
$font-secondary: 'Noto Serif', serif;

// Colors
$dark-100: #232226;
$yellow-100: #fbd238;
$white: #fff;

// Sizing
$container-width: 1000;

// Breakpoints
$small: 700;
$medium: 900;
