// Variables

// Typography
$font-primary: 'Figtree', sans-serif;
$font-secondary: 'Noto Serif', serif;

// Colors
$dark-100: #232226;
$yellow-100: #fbd238;
$red-100: #f26868;
$green-100: #68f28f;
$blue-100: #6874f2;
$white: #fff;

// Sizing
$container-width: 1000;

// Breakpoints
$bp-xs: 375;
$bp-xl: 1440;
