@use '../abstracts' as a;

.footer {
  padding: a.rem(48) a.rem(16);

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  &__text {
    flex: 1;
    font-family: a.$font-primary;
    font-size: a.rem(14);
    font-weight: 600;
  }

  &__list {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: a.rem(16);

    &-link {
      background-color: a.$dark-100;
      color: a.$white;
      padding: a.rem(8);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: a.rem(40);
      height: a.rem(40);
      border: 1px solid a.$white;
      transition:
        transform 0.15s ease-in-out,
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;

      &:hover {
        transform: scale(1.3);
        color: a.$dark-100;
        background-color: a.$grey-100;
        border-color: a.$dark-100;
      }
    }

    &-icon {
      font-size: a.rem(20);
    }
  }
}
