@use '../abstracts' as a;

.header {
  min-height: 100svh;
  padding: 0 3rem;

  @include a.breakpoint-down(xs) {
    padding: 0 1rem;
  }

  background-image: url('../assets/images/bg-placeholder.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: a.$white;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &__box {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: a.rem(10);
  }

  &__title {
    font-family: a.$font-primary;
    text-transform: uppercase;
    font-size: a.fluid(45, 80);
    position: relative;
  }

  &__subtitle {
    text-transform: capitalize;
    font-style: italic;
    font-size: a.fluid(25, 40);
  }
}
