@use '../abstracts' as a;

.our-work {
  background-color: a.$grey-100;
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: a.rem(24);

    &-item {
      text-align: center;
      background-color: a.$white;
      box-shadow: 0 0.15rem a.rem(8) rgba(0, 0, 0, 0.1);
    }

    &-img {
      object-fit: contain;
    }

    &-description {
      padding: a.rem(24);
    }

    &-heading {
      text-transform: capitalize;
      font-size: a.rem(20);
      font-family: a.$font-primary;
    }

    &-text {
      font-style: italic;
    }
  }
}
