@use '../abstracts' as a;

.services {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: a.rem(32);

    &-item {
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      gap: a.rem(16);
    }

    &-icon {
      width: a.rem(60);
      height: a.rem(60);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline: auto;
      padding: a.rem(36);
      font-size: a.rem(30);
      color: a.$yellow-100;
      border: a.em(1.6) solid a.$yellow-100;
      border-radius: 50%;
    }

    &-heading {
      font-family: a.$font-primary;
      text-transform: capitalize;
      font-size: a.rem(18);
      font-weight: 800;
    }
  }
}
